 body{
   margin: 0;
     background-color: #1A001A;
    color: white  ; 
    border: 1px solid #1A001A;
    width: 1110px;
    height: auto;
    display: block;
    justify-self: center;
    justify-content: center;


 }
 #top {
   margin: 0;
   margin-top: 1px;
   background-color: #008080;
   height: 3pc;
   width: 100%;
   display: flex;
    justify-self: center;
    justify-content: left;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  transition: box-shadow 1.2s,  background-color 1s ease, border-radius 1s ease ;
  }
   #top_second{
    display: none;
   }
   #top_second_nev{
    display: none;
   
  }
  #logo_shows{
    display: none;
    
  }
 
 
  #top_second{
   display: none;
  }

 #logo{
  margin: 0;
  padding: 10px;
  margin-left: 1%;
  font-size: 25px;
 }
 table{
   margin: 0;
   margin-left: 10%;
   border-collapse: separate;
   width: 38pc;
   height: 3pc;
 }
 th{
   font-size: 1.3pc;
    text-align: center;
    padding: 4px;
    margin-right: 5px;
    color: #D3D3D3;
    font-weight: bold;
    transition-duration: 0.5s;
    transition-property: background-color, color ;
 }
th:hover{
  background-color: brown;
  color: cyan;
}

p{
  font-size: 1.5pc; 
  margin: 0;
}

#second {
  margin: 0;
  margin-top: 5pc;
  background-color: rgba(255, 0, 0,0.2);
  height: 273pc;
  width: 99%;
  display: block;
   justify-self: center;
   justify-content: center;

   #head_line{
    margin: 0;
     font-size: 4pc;
  }
  #sub_head{
    margin: 0;
    font-size: 2pc;
  }
  .sub_head2{
    font-size: 1.8pc;
    font-weight: bold;
  }
}
#contennerA{
  margin: 0;
  height: 27pc;
  width: 98%pc;
  display: grid;
  text-align: center;
  justify-self: center;
  justify-content: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#profile-pic{
  margin: auto;
  padding: 10px;
  width: 18pc;
  height: 18pc;
  border-radius: 50%;
  object-fit: cover;
}
#contennerB{
  margin: 0;
  margin-top: 30px;
  padding: 10px;
  height: auto;
  width: 98%;

  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#contennerC{
  margin: 0;
  margin-top: 10px;
  padding: 7px;
  height: auto;
  /* border: 1px solid white; */

  width: 98%pc;
  
  display: inline-flex;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pic-gbl{
  border-radius: 20px;
}
#sub-A{
  margin: 0;
  margin-right: 10px;
  padding: 10px;
  /* border: 1px solid gainsboro; */
  height: 32pc;
  width: 60%;
  display: inline-flex;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sub-B{
  margin: 0;
  margin-right: 10px;
  padding: 10px;
  /* border: 1px solid gainsboro; */
  height: 27pc;
  width: 40%;
  display: inline-flex;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#contennerD{
  margin: 0;
  margin-top: 50px;
  padding: 7px;
  height: auto;
  /* border: 1px solid white; */

  width: 98%pc;

  display: inline-flex;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sub-C{
  margin: 0;
  margin-right: 10px;
  padding: 10px;
  /* border: 1px solid gainsboro; */
  height: 27pc;
  width: 40%;
  display: inline-flex;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sub-D{
  margin: 0;
  margin-right: 10px;
  padding: 10px;
  /* border: 1px solid gainsboro; */
  height: 35pc;
  width: 60%;
  display: inline-flex;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#contennerE{
  border-bottom: 1px solid silver ;
  margin: 0;
  margin-top: 30px;
  padding: 10px;
  height: auto;
  width: 98%pc;


  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#contennerF{
  text-align: center;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  border: 1px solid silver ;
  background-color: black;
  margin: 0;
  margin-top: 30px;
  padding: 10px;
  height: 100%;
  width: 98%;
  border-radius: 30px;
}
#contennerF h1{
  margin: 0;
  padding: 10px;
  font-size: 3.5pc;
  color: cyan;
}
#link_title{
  text-align: center;
  margin-top: 250px;
}
#time_line{
  
  top: 0; left: 0;
   width: 100%;
    height: 100%;
display: block; 
}
#time_line2{
  
  top: 0; left: 0;
   width: 100%;
    height: 100%;
display: block;
}
#time_line_bar{
  position: relative;
  height: auto;
  width: 100%;
}
#j_1{
  width: 400px;
  position: absolute;
  z-index: 1;
    box-shadow: 1px 1px 50px gold;

  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 10px;
      left: 605px;
  opacity: 0;
}
#j_1 a button{
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2pc;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: cyan;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#j_2{
  width: 400px;
  position: absolute;
  z-index: 1;
    box-shadow: 1px 1px 50px gold;

  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 280px;
      left: 40px;
      opacity: 0;
}
#j_2 a button{
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2pc;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: cyan;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.Jimg{
  height: 250px;
  width: 350px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}


#j_4{
  width: 400px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 1300px;
      left: 40px;
      opacity: 0;
}
#j_4 a button{
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2pc;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: cyan;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}


#j_3{
  width: 400px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 400px;
      left: 605px;
  opacity: 0;
    }


#j_5{
  width: 400px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 2350px;
      left: 605px;
opacity: 0;
}
#j_5_pI{
  text-align: left;
}


#j_6{
  width: 400px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 2750px;
      left: 40px;
opacity: 0;
}

#j_6 video{
  margin: 0;
  width: 340px;
  height: 550px;
  border-radius: 10% 10%;
}
#j_6 h2{
  font-size: 1.8pc;
}
#j_6 b{
  font-size: 1.6pc;
}
#j_6 div{
  text-align: left;
  padding: 15px;
  margin-bottom: 50px;
}


#social_medias{
  bottom: 0px;
  display: flex;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 10px;
  height: 5pc;
  width: 98%;
  align-content: center;
  justify-content: center;
}

#social_medias img{
  border-radius: 50%;
 height: 40px;
 width: 40px;
 margin-right: 20px;
 box-shadow: 1px 1px 10px  rgba(0, 0, 255,0.7);
 transition: box-shadow 0.5s ease;

}
#social_medias img:hover{
  box-shadow: 1px 1px 20px  rgba(0, 0, 255,1);

}

/*******************************************/


@media (min-width: 768px) and (max-width: 1024px){
body{
   margin: 0;
     background-color: #1A001A;
    color: white  ; 
    border: 1px solid black;
    width: 800px;
    height: auto;
    display: block;
    justify-self: center;
    justify-content: center;


 }
 #top {
   margin: 0;
   margin-top: 1px;
   background-color: #008080;
   height: 3pc;
   width: 100%;
   display: flex;
    justify-self: center;
    justify-content: left;
  position: fixed;
  transition: box-shadow 1.2s,  background-color 1s ease, border-radius 1s ease ;
  }
   #top_second{
    display: none;
   }
   #top_second_nev{
    display: none;
   
  }
  #logo_shows{
    display: none;
    
  }
 
 
  #top_second{
   display: none;
  }

 #logo{
  margin: 0;
  padding: 10px;
  margin-left: 1%;
  font-size: 25px;
 }
 table{
   margin: 0;
   margin-left: 10%;
   border-collapse: separate;
   width: 38pc;
   height: 3pc;
 }
 th{
   font-size: 1.3pc;
    text-align: center;
    padding: 4px;
    margin-right: 5px;
    color: #D3D3D3;
    font-weight: bold;
    transition-duration: 0.5s;
    transition-property: background-color, color ;
 }
th:hover{
  background-color: brown;
  color: cyan;
}

  #head_line{
    margin: 0;
     font-size: 2pc;
  }
  #sub_head{
    margin: 0;
    font-size: 1.5pc;
  }
  .sub_head2{
    font-size: 1.8pc;
    font-weight: bold;
  }
  p{
    font-size: 1.3pc; 
    margin: 0;
  }

  #second{
    width: 100%;
    height: 100%;

  }

  #profile-pic{
    height: 12pc;
    width: 12pc;
  }
  img{
    height: 330px;
    width: 300px;
  }
  #contennerA{
    height: auto;
    width: 95%;
    text-align: center;
  }
  #contennerB{
    height: auto;
    width: 95%;
    text-align: left;

  }
  #contennerC{
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;

  }
  #sub-A{
    margin: 0;
    padding: 10px;
    height:auto;
    width: 94%;
    display: inline-flex;
    flex-wrap: wrap;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #sub-B{
    margin: 0;
    margin-right: 10px;
    padding: 10px;
    height: auto;
    width: 94%;
    justify-content: center;
  }
  #contennerD{
    padding: 0;
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  #sub-D{
    margin: 0;
    padding: 10px;
    height:auto;
    width: 94%;
    display: inline-flex;
    flex-wrap: wrap;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #sub-C{
    margin: 0;
    padding: 5px;
    margin-right: 10px;
    padding: 10px;
    height: auto;
    width: 94%;
    justify-content: center;
  }
  #contennerE{
    border-bottom: 1px solid silver ;
    margin: 0;
    margin-top: 30px;
    padding: 10px;
    height: auto;
    width: 95%;
    margin-bottom: 100px;
  
  
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
#contennerF{
  text-align: center;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  border: 1px solid silver ;
  background-color: black;
  margin: 0;
  margin-top: 30px;
  padding: 10px;
  height: 100%;
  width: 98%;
  border-radius: 30px;
}
#contennerF h1{
  margin: 0;
  padding: 10px;
  font-size: 3.5pc;
  color: cyan;
}
#link_title{
  text-align: center;
  margin-top: 250px;
}
#time_line{
  
  top: 0; left: 0;
   width: 100%;
    height: 100%;
display: block; 
}

#time_line_bar{
  position: relative;
  height: auto;
  width: 100%;
}
#j_1{
  width: 300px;
  position: absolute;
  z-index: 1;
    box-shadow: 1px 1px 50px gold;

  border: 2px solid cyan;
    margin: 0;
  margin-top: 0;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 5px;
        top: 5px;
      left: 455px;
  opacity: 0;
}
#j_1 a button{
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2pc;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: cyan;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#j_2{
  width: 300px;
  position: absolute;
  z-index: 1;
    box-shadow: 1px 1px 50px gold;

  border: 2px solid cyan;
    margin: 0;
  margin-top: 0;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 5px;
        top: 40px;
      left: 10px;
      opacity: 0;
}
#j_2 a button{
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2pc;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: cyan;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.Jimg{
  height: 170px;
  width: 270px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}


#j_4{
  width: 300px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 0;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 5px;
        top: 860px;
      left: 10px;
      opacity: 0;
}
#j_4 a button{
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2pc;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: cyan;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}


#j_3{
  width: 300px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 0;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 5px;
        top: 350px;
      left: 455px;
  opacity: 0;
    }


#j_5{
  width: 300px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 0;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 5px;
        top: 1980px;
      left: 455px;
opacity: 0;
}
#j_5_pI{
  text-align: left;
}


#j_6{
  width: 300px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 0;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 5px;
        top: 2080px;
      left: 10px;
opacity: 0;
}

#j_6 video{
  margin: 0;
  width: 240px;
  height: 450px;
  border-radius: 10% 10%;
}
#j_6 h2{
  font-size: 1.8pc;
}
#j_6 b{
  font-size: 1.6pc;
}
#j_6 div{
  text-align: left;
  padding: 15px;
  margin-bottom: 50px;
}
  #social_medias{
    bottom: 0px;
    display: flex;
    margin: 0;
    margin-top: 30px;
    padding: 10px;
    height: auto;
    width: 95%;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
  }
 
  #social_medias img{
  border-radius: 50%;
 height: 40px;
 width: 40px;
 margin-right: 20px;
 box-shadow: 1px 1px 10px  rgba(0, 0, 255,0.7);
 transition: box-shadow 0.5s ease;
}
#social_medias img:hover{
  box-shadow: 1px 1px 20px  rgba(0, 0, 255,1);

}
}


/* //////////////////////////////////////// */

@media (max-width: 768px){
  
  body{
    width: 100%;
    height: auto;
    justify-content: center;
    justify-items: center;
    align-self: center;
  }

  

  #top {  
   
    display: none;
    
     
  }
  #top_second_nev{
    top: 0;
    margin: 0;
   background-color: gray;
   height: auto;
   width: 100%;
   display: flex;
    justify-self: center;
    justify-content: left;
    align-items: center;
    position: fixed;
    padding: 0;
    z-index: 10;
  }
  #logo_shows{
    margin: 0;
    padding: 10px;
    padding-left: 5%;
    font-size: 20px;
    flex-grow: 1;
    text-align: left;
    display: block;
    
  }
 
 
  #top_second{
    margin: 0;
   margin-top: 1px;
   background-color: gray;
   height: 0;
   width: 100%;
   display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;  
    padding: 0;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
    z-index: 10;
  }
  #top_second.close {
    height: 0;
    opacity: 0;
    
  }
    #top_second.open {
    height: 50%;
    opacity: 1;
  }

  #menu_shows{
    background-color: transparent;
    border: none;
    padding-right: 7%;
    display: none;
    font-size: 160%;
    color: cyan;
  }
  #menu_hide{
    background-color: transparent;
    border: none;
    padding-right: 7%;
    display: flex;
    font-size: 160%;
    color: cyan;
  }
  #logo{
   margin: 0;
   margin-left: 10px;
   margin-bottom: 50px;
   font-size: 16px;
   display: none;
 
  }
  table{

    margin: 0;
    border-collapse: separate;
    width: auto;
    height: auto;
    margin-left: 0.5pc;
    display: flex;
    transform: rotate(270deg);
    margin-top: 15px;
    padding-top: 15px;
  }

  
  
  

  th{
    font-size: 1pc;
     text-align: center;
     color: cyan;
         writing-mode: vertical-rl;
         white-space: nowrap;
         padding: 8px;
         margin-bottom: 10px;
  }

  #head_line{
    margin: 0;
     font-size: 2pc;
  }
  #sub_head{
    margin: 0;
    font-size: 1.5pc;
  }
  .sub_head2{
    font-size: 1.8pc;
    font-weight: bold;
  }
  p{
    font-size: 1.3pc; 
    margin: 0;
  }

  #second{
    width: 100%;
    height:100%;
        padding-left: 25px;


  }

  #profile-pic{
    height: 12pc;
    width: 12pc;
  }
  img{
    height: 330px;
    width: 300px;
  }
  #contennerA{
    height: auto;
    width: 95%;
    text-align: center;
  }
  #contennerB{
    height: auto;
    width: 95%;
    text-align: left;

  }
  #contennerC{
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;

  }
  #sub-A{
    margin: 0;
    padding: 10px;
    height:auto;
    width: 94%;
    display: inline-flex;
    flex-wrap: wrap;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #sub-B{
    margin: 0;
    margin-right: 10px;
    padding: 10px;
    height: auto;
    width: 94%;
    justify-content: center;
  }
  #contennerD{
    padding: 0;
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  #sub-D{
    margin: 0;
    padding: 10px;
    height:auto;
    width: 94%;
    display: inline-flex;
    flex-wrap: wrap;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #sub-C{
    margin: 0;
    padding: 5px;
    margin-right: 10px;
    padding: 10px;
    height: auto;
    width: 94%;
    justify-content: center;
  }
  #contennerE{
    border-bottom: 1px solid silver ;
    margin: 0;
    margin-top: 30px;
    padding: 10px;
    height: auto;
    width: 95%;
  
  
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #social_medias{
    display: flex;
    margin: 0;
    margin-top: 30px;
    padding: 10px;
    height: auto;
    width: 95%;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
  }
 
  #social_medias img{
  border-radius: 50%;
 height: 40px;
 width: 40px;
 margin-right: 20px;
 box-shadow: 1px 1px 10px  rgba(0, 0, 255,0.7);
 transition: box-shadow 0.5s ease;
}
#social_medias img:hover{
  box-shadow: 1px 1px 20px  rgba(0, 0, 255,1);

}
#contennerF{
  text-align: center;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  border: 1px solid silver ;
  background-color: black;
  margin: 0;
  margin-top: 30px;
  padding: 30px;
  height: 100%;
  width: 91%;
  border-radius: 30px;
  overflow: hidden;
  z-index: 5;
}
#contennerF h1{
  margin: 0;
  padding: 10px;
  font-size: 3.5pc;
  color: cyan;
}
#link_title{
  text-align: center;
  margin-top: 250px;
}
#time_line{
  
  top: 0; left: 0;
   width: 100%;
    height: 100%;
display: none; 

}
#time_line_bar{
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
}
#j_1{
  width: 90%;
  position: relative;
  z-index: 2;
    box-shadow: 1px 1px 50px gold;

  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 0;
      left: 0;
  opacity: 0;
}
#j_1 a button{
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2pc;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: cyan;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#j_2{
  width: 90%;
  position: relative;
  z-index: 1;
    box-shadow: 1px 1px 50px gold;

  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 0;
      left: 0;
      opacity: 0;
}
#j_2 a button{
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2pc;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: cyan;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.Jimg{
  height: 200px;
  width: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}


#j_4{
  width: 90%;
  position: relative;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 0;
      left: 0;
      opacity: 0;
}
#j_4 a button{
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2pc;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: cyan;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}


#j_3{
  width: 90%;
  position: relative;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 0;
      left: 0;
  opacity: 0;
    }


#j_5{
  width: 90%;
  position: relative;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 0;
      left: 0;
opacity: 0;
}
#j_5_pI{
  text-align: left;
}


#j_6{
  width: 90%;
  position: relative;
  z-index: 1;
  box-shadow: 1px 1px 50px gold;
  border: 2px solid cyan;
    margin: 0;
  margin-top: 30px;
  border-radius: 20px;
  justify-self: right;
  text-align: center;
  padding: 10px;
        top: 0;
      left: 0;
opacity: 0;
}

#j_6 video{
  margin: 0;
  width: 340px;
  height: 550px;
  border-radius: 10% 10%;
}
#j_6 h2{
  font-size: 1.8pc;
}
#j_6 b{
  font-size: 1.6pc;
}
#j_6 div{
  text-align: left;
  padding: 15px;
  margin-bottom: 50px;
}

}
